@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="navbar bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">Tools</a>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="RandomNumber">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Random Number
                        </NavLink>
                    </li>
                    @* *@
                    @* <li class="nav-item"> *@
                    @*     <NavLink class="nav-link" href="BadDaysHelper"> *@
                    @*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BadDays Helper *@
                    @*     </NavLink> *@
                    @* </li> *@

                    <li class="nav-item">
                        <NavLink class="nav-link" href="BinaryField">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Binary Field
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="ImageHelper">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Image Helper
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="EnVracHelper">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> En Vrac Helper
                        </NavLink>
                    </li>

                    @* <li class="nav-item"> *@
                    @*     <NavLink class="nav-link" href="MyLoans"> *@
                    @*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My loans *@
                    @*     </NavLink> *@
                    @* </li> *@

                    @* <AuthorizeView> *@
                    @*     <Authorized> *@
                    @*         <li class="nav-item"> *@
                    @*             <NavLink class="nav-link" href="Account/Manage"> *@
                    @*                 <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name *@
                    @*             </NavLink> *@
                    @*         </li> *@
                    @*         <li class="nav-item"> *@
                    @*             <form action="Account/Logout" method="post"> *@
                    @*                 <AntiforgeryToken/> *@
                    @*                 <input type="hidden" name="ReturnUrl" value="@currentUrl"/> *@
                    @*                 <button type="submit" class="nav-link"> *@
                    @*                     <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout *@
                    @*                 </button> *@
                    @*             </form> *@
                    @*         </li> *@
                    @*     </Authorized> *@
                    @*     <NotAuthorized> *@
                    @*         <li class="nav-item"> *@
                    @*             <NavLink class="nav-link" href="Account/Register"> *@
                    @*                 <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register *@
                    @*             </NavLink> *@
                    @*         </li> *@
                    @*         <li class="nav-item px-3"> *@
                    @*             <NavLink class="nav-link" href="Account/Login"> *@
                    @*                 <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login *@
                    @*             </NavLink> *@
                    @*         </li> *@
                    @*     </NotAuthorized> *@
                    @* </AuthorizeView> *@

                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}