@page "/"

<PageTitle>Home</PageTitle>

<h1>Mes petits outils numériques</h1>

<ul>
    <li class="nav-item">
        <NavLink class="nav-link" href="RandomNumber">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Random Number
        </NavLink>
    </li>

    @* <li class="nav-item"> *@
    @*     <NavLink class="nav-link" href="BadDaysHelper"> *@
    @*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BadDays Helper *@
    @*     </NavLink> *@
    @* </li> *@

    <li class="nav-item">
        <NavLink class="nav-link" href="ImageHelper">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Image Helper
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="EnVracHelper">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> En Vrac Helper
        </NavLink>
    </li>
    @* *@
    @* <li class="nav-item"> *@
    @*     <NavLink class="nav-link" href="MyLoans"> *@
    @*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My loans *@
    @*     </NavLink> *@
    @* </li> *@
</ul>

