@page "/RandomNumber"
@rendermode InteractiveServer

<h3>Random Number</h3>

<div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Minimal Value</label>
            <input type="number" class="form-control" placeholder="0" min="0" max="1000000" aria-label="Min Value" aria-describedby="MinValue" @bind="_minValue">
        </div>
        <div class="col-md-4 mb-3">
            <label>Maximal Value</label>
            <input type="number" class="form-control" placeholder="100" min="0" max="1000000" aria-label="Max Value" aria-describedby="MaxValue" @bind="_maxValue">
        </div>
    </div>
    <button class="btn btn-success" type="submit" @onclick="@(() => Random())">Random</button>
</div>

<div>
    <p>Random Number: @_randomNumber</p>
</div>
@code {
    private uint _minValue;
    private uint _maxValue = 100;
    private uint _randomNumber;

    private void Random()
    {
        var rnd = new Random();

        _randomNumber  = (uint)rnd.Next((int)_minValue, (int)_maxValue + 1);
    }
}